* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

p {
    padding: 10px;
    display: flex;
    text-align: center;
    max-width: 50%;
    margin: auto;
}

#highscore {
    margin: 30px;
    display: block;
    position: static;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
  
.vertical-center {
    margin: 0;
    display: flex;
    
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#time {
    display: flex;
    float: right;
    text-align: end;
    margin-top: 30px;
    margin-left: auto;
}    

.questions {
    border-radius: 10px;
    border: 5px;
    border-style: ridge;
    padding: 50px 450px;
}

.hide {
  display: none;
}


.yellow-button {
  display: flex;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.yellow-button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.yellow-button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .yellow-button {
    padding: 13px 50px 13px;
  }
}